[submodule "csrc/cutlass"]
	path = csrc/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "csrc/composable_kernel"]
	path = csrc/composable_kernel
	url = https://github.com/moonmath-ai/composable_kernel.git
	branch = idan/add_la_support
[submodule "aiter"]
	path = aiter
	url = git@github.com:moonmath-ai/aiter.git
	branch = lite_attn
